.wrapper {
  background-color: #add8e6a6;
  position: absolute;
  right: 5rem;
  padding: 2rem;
  border-radius: 10px;
  width: 40%;
  min-width: 400px;

  .container form {
    border: 2px solid green;
    padding-left: 2.5rem;

    input {
      width: 70%;
      height: 2rem;
      border-radius: 10px;
      padding-left: 1rem;
      font-family: "Micro 5", sans-serif;
      font-size: 1.7rem;
    }

    button {
      width: 100px;
      height: 2rem;
      border: none;
      border-radius: 10px;
      font-family: "Micro 5", sans-serif;
      font-size: 1.7rem;
      background-color: #298694;
      color: #c0b8a6;
      margin-left: 2rem;
    }

    button:hover {
      color: #298694;
      background-color: #c0b8a6;
    }
  }
}
