body {
  background: url(./assets/pixel-art-pixels-snow-sea-wallpaper.jpg);
  background-attachment: fixed;
  background-position: right;
  font-family: "Micro 5", sans-serif;
  font-size: 1.5rem;
}

@media screen and (min-width: 730px) {
  body {
    background: url(./assets/pixel-art-pixels-snow-sea-wallpaper.jpg);
    background-attachment: fixed;
    background-position: center;
  }
}
